body {
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
}

.up,
.down {
  color: #fff;
  background-color: rgb(52, 180, 52);
  padding: 4px 7px;
  border-radius: 10px;
}

.down {
  background-color: rgb(231, 39, 39);
}

.content {
  background-color: #fff;
  width: 300px;
  border: 2px solid #333;
  border-radius: 30px;
}

ul {
  list-style: none;
}

li {
  font-weight: 600;

  border: 2px solid #fff;
  width: 200px;
  padding: 20px 10px;
}

li.active {
  border: 2px dashed #333;
}

span {
  margin-left: 10px;
  cursor: pointer;
  transition: box-shadow 0.5s ease;
  user-select: none;
}

span:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
